



.main {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
}

.header-container {


}

.image {
    height: 100px;
    width: 100px;
    margin: 20px;
}


.topbar {
    display: flex;
    justify-content: space-between;

}

.features {
    display: flex;
    gap: 60px;

}

.main-container {

}

.box.main {

}

.table-cards {
    display: flex;
    text-align: center;

}

.cards {
    margin: 60px;
    border-style: solid;
    border: black;

}

.box-main {
    align-items: center;
    justify-items: center;
    text-align: center;
}

.video-box {
    margin-top: 60px;
}

.nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
}